@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700&display=swap');

:root {
   line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 font-family: Cairo, -apple-system , BlinkMacSystemFont;

  /* 🎨 HRM Theme Colors */
  --color-primary: #0c8eb6;   /* Blue */
  --color-secondary: #43A047; /* Green */
  --color-accent: #FFB300;    /* Amber/Yellow */
  --color-neutral-light: #F5F5F5;
  --color-neutral-dark: #212121;
  --color-error: #E53935;
      --color-red   :#e3165b;
}

/* Example usage */
a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--color-neutral-dark)
}

body{
  margin: 0;
  margin-top:10px  ;
  padding: 0;
 
}
